/scripts/.ipynb_checkpoints
/scripts/condition_charts/.ipynb_checkpoints
/scripts/condition_charts
/shape_files
scripts/google_api.txt
/sv_images
/coded_results/.ipynb_checkpoints
/scripts/openai/.ipynb_checkpoints
/coded_results/openai
scripts/.DS_Store
